<h1>Eliminar Producto</h1>

<section id="contenedor">

<form  action="http://localhost:8080/api/products"  method="delete">

     Id del producto: <input class="border-pink-700 border-2" type="text" id="producto" required><br>

    <input class="bg-pink-600 text-white p-2 m-2 rounded-lg" type="submit" value="Eliminar producto" id="submit"> 
 {{!-- <h2> Para eliminar un producto:</h2>
    <input class="controls" type="text" name="id-prod" id="id-prod" placeholder="Ingrese ID" >
   <button class="botons" type="button" id="delete-btn">Eliminar</button> --}}
 


</form>
  


</section>

<script src="js/productManager.js"></script>