<h1>Olvideaste tu contraseña?</h1>
<p style="color:red">{{error}}</p>
<br/> <br/>
<p>Ingresa tu correo y para recibir el enlace de recuperacion</p>
<form method="post" action="/api/sessions/forgot-password">
    <input type="email" placeholder="Ingrese su correo" name="email" />
    <button>Enviar correo</button>
</form>